.Rproj.user
.Rhistory
.RData
.Ruserdata
SIMERPE_PLANTILLA_POSTER_fondo [Autoguardado].pptx
.DS_Store
~$SIMERPE_PLANTILLA_POSTER_fondo [Autoguardado].pptx
0.FormatoArchivos_files
Prueba.xlsx
TablaResultaods.xlsx
MariaJoseZuñiga_PRELIMINAR.pptx
